protobuf==3.20.1
numpy
pandas
pyltr
scipy
nltk
scikit-learn
rank_bm25
transformers
torch
sentence-transformers
gensim
keepsake
matplotlib
fabric
python-dotenv
tornado
jsonpickle
umap-learn
seaborn
umap-learn[plot]
