<!DOCTYPE html>
<html lang="en">
<head>
    <title>Explainable Fuzzy ARTMAP Demo</title>
    <!-- Minified version -->
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css"> -->
    <!-- <style>
        label {
          display: inline-block;
          width: 150px;
          text-align: right;
        }
      </style> -->
      <!-- <script src="https://unpkg.com/htmx.org@1.9.2" integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h" crossorigin="anonymous"></script> -->
      <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
      <script src="https://ajax.aspnetcdn.com/ajax/knockout/knockout-3.5.0.js" crossorigin="anonymous"></script>
      {% block head_content %}{% endblock %}
</head>
<body>
    <section class="content">
        <header>
            {% block header %}{% endblock %}
        </header>
        <main>
            {% block content %}{% endblock %}
        </main>
    </section>
</body>
</html>